body {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
}


.container {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 10px;
    font-family: sans-serif;    
    transition: all 0.4s;
    &:hover {        
        box-shadow: 0 9px 10px rgba(0,0,0,0.2);
        .btn-container {
            opacity: 1;
        }
    }
    .btn-container {
        display: flex;
        gap: 20px;
        margin-top: 50px;
        opacity: 0;
        transition: all 0.4s;
        button {
            padding: 7px 5px;
            font-weight: bold;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 5px;
            &:active {
                background-color: rgb(57, 81, 120);
                transition: all 0.2s;
            }
        }        
    }
}